@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
	 background-color: #22252C;	 
}

.social {
	margin: 0 auto;
	/* width: 500px; */
	text-align: center;
	/* padding: 50px; */
	/* padding-top:100px; */
}

.social h2 {
	color: transparent;
	font-size: 40px;
	font-family: 'PT Sans', sans-serif;
}

[class^="icon-btn"] /*.icon-btn*/ {
	height: 75px;
	width: 75px;
	border: 0;
	color: transparent;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: #fff;
}

.twitter {
	color: #4099FF;
}

.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}

.instagram {
	color: #5C3D2E;
}

.github {
	color: #4183C4;
}

.icon-btn:hover {
	transform: scale(1.10);	
	color: #transparent;
}

.twitter:hover {
	background-color: #4099FF;	
}

.facebook:hover {
	background-color: #3B5998;	
}

.google-plus:hover {
	background-color: #DB5A3C;	
}

}
a.link{
}

